<%- contentFor('body') %>

<div class="messages-json">
  <form type="GET" action='/messages/get-json-messages'>
    <%- include('json-fieldset', { legend: 'User', name: 'user' }); %>
    <%- include('json-fieldset', { legend: 'Message', name: 'message' }); %>
    <%- include('json-fieldset', { legend: 'Show', name: 'show' }); %>
    <%- include('json-fieldset', { legend: 'Added at', name: 'addedAt' }); %>
    <%- include('json-fieldset', { legend: 'End at', name: 'endAt' }); %>
    <button>Get All Mesages</button>
  </form>

  <form type="GET" action="/messages/get-json-message">
    <input type="text" name="user" value="alex">
    <input type="text" name="message" value="message">
    <input type="text" name="show" value="30">
    <input type="text" name="addedAt">
    <input type="text" name="endAt">
    <button>Get Message by field</button>
  </form>
<div>
