<tr>
  <td>
    <a href="/messages/<%= _id %>">
      <%= username %>
    </a>
  </td>
  <td>
    <a href="/messages/<%= _id %>">
      <%= message %>
    </a>
  </td>
  <td>
    <a href="/messages/<%= _id %>">
      <%= _id.getTimestamp().toLocaleString() %>
    </a>
  </td>
</tr>
